:root {
    --primary: #2c6da3;
    --white: #fff;
    --light: #d8e5f3;
    --dark: #12263b;
    --hyperlink-active: #6397cf;
    --navigation-drawer-width: 12rem;
    --navigation-drawer-md-width: calc(100vw - 4rem);
}

/* Global Styles */

html,
body {
    min-width: 480px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /*font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Arial,sans-serif;
    color: var(--dark);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.bg-primary {
    background-color: var(--primary);
    color: var(--light);
}

.text-primary {
    color: var(--primary);
}

a {
    color: var(--primary);
    text-decoration: none;
}

    a:hover,
    a:active,
    a:focus {
        color: var(--hyperlink-active);
    }

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--navigation-drawer-width);
    border-color: unset;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    z-index: 1000;
    -webkit-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    -moz-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    -ms-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    -o-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    transition: all .35s cubic-bezier(.49,.07,.3,1.37);
}

    .navbar.collapsed {
        left: calc(-1 * var(--navigation-drawer-width));
    }

    .navbar .navbar-nav {
        padding: .5rem 0;
        list-style: none;
        line-height: 1.5;
    }

        .navbar .navbar-nav li a {
            display: block;
            width: auto;
            padding: 0 2rem;
            background-color: inherit;
            color: inherit;
            -webkit-transition: all .16s ease-in-out;
            -moz-transition: all .16s ease-in-out;
            -ms-transition: all .16s ease-in-out;
            -o-transition: all .16s ease-in-out;
            transition: all .16s ease-in-out;
        }

            .navbar .navbar-nav li a:hover {
                background-color: var(--white);
                color: var(--dark) !important;
            }

    .navbar .navbar-toggle {
        position: absolute;
        right: -3rem !important;
        top: .5rem;
        height: 2.5rem;
        display: inline-block !important;
        padding-top: 0.5625rem;
        z-index: 154;
        padding: 0.5625rem !important;
    }

        .navbar .navbar-toggle .hamburger {
            height: 1.5rem;
            transform: rotate(180deg);
            -webkit-transition: all .28s ease-in-out;
            -moz-transition: all .28s ease-in-out;
            -ms-transition: all .28s ease-in-out;
            -o-transition: all .28s ease-in-out;
            transition: all .28s ease-in-out;
        }

            .navbar .navbar-toggle .hamburger .icon-bar {
                width: 1.375rem;
                height: 1px;
                border-radius: 1px;
                display: block;
                -webkit-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                -moz-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                -ms-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                -o-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                background-color: var(--white) !important;
            }

                .navbar .navbar-toggle .hamburger .icon-bar.top-bar {
                    transform: translateX(.1875rem) translateY(.375rem) rotate(45deg);
                    transform-origin: 10% 10%;
                }

                .navbar .navbar-toggle .hamburger .icon-bar.middle-bar {
                    transform: translateX(0) translateY(.625rem) rotate(0);
                    opacity: 0;
                }

                .navbar .navbar-toggle .hamburger .icon-bar.bottom-bar {
                    transform: translateX(.1875rem) translateY(1rem) rotate(-45deg);
                    transform-origin: 10% 90%;
                }

    .navbar.collapsed .navbar-toggle .hamburger {
        transform: rotate(0deg);
    }

        .navbar.collapsed .navbar-toggle .hamburger .icon-bar.top-bar {
            transform: translateX(0) translateY(0.3125rem) rotate(0);
        }

        .navbar.collapsed .navbar-toggle .hamburger .icon-bar.middle-bar {
            opacity: 1;
        }

        .navbar.collapsed .navbar-toggle .hamburger .icon-bar.bottom-bar {
            transform: translateX(0) translateY(0.9375rem) rotate(0);
        }

@media (max-width: 768px) {
    .navbar {
        width: var(--navigation-drawer-md-width);
    }

        .navbar.collapsed {
            left: calc(-1 * var(--navigation-drawer-md-width));
        }
}

/*#nav-content-highlight {
    position: absolute;
    left: 1rem;
    top: -4rem;
    width: calc(100% - 1rem);
    height: 4rem;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 1rem 0 0 1rem;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

    #nav-content-highlight:before, #nav-content-highlight:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 100%;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        box-shadow: 1rem 1rem var(--background)
    }

    #nav-content-highlight:after {
        top: 100%;
        box-shadow: 1rem -1rem var(--background);
    }*/

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /*background: -webkit-linear-gradient(rgba(255,255,255,0.5) 50%, #174508 100%), url(../img/bg.jpg) no-repeat center 0 scroll;
    background: -moz-linear-gradient(rgba(255,255,255,0.5) 50%, #174508 100%), url(../img/bg.jpg) no-repeat center 0 scroll;
    background: -o-linear-gradient(rgba(255,255,255,0.5) 50%, #174508 100%), url(../img/bg.jpg) no-repeat center 0 scroll;
    background: linear-gradient(rgba(255,255,255,0.5) 50%, #174508 100%), url(../img/bg.jpg) no-repeat center 0 scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Sections */

.portfolio-item {
    margin-bottom: 2.5rem;
}

.img-portfolio {
    margin: 0 auto;
}

    .img-portfolio:hover {
        opacity: 0.8;
    }

.resume-item {
    margin-bottom: 2rem;
}

/* Footer */

footer {
    padding: 5rem 0;
    text-align: center;
}

/* Sections */

.section {
    padding: 2.5rem;
}

/* Parallax */

.parallax {
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Buttons */

.btn {
    font-weight: 700;
    color: var(--dark);
    background-color: var(--white);
    display: inline-flex;
    position: relative;
    padding: .5rem .75rem;
    text-decoration: none;
    border: none;
    border-radius: 50rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;
    -webkit-transition: all .16s ease-in-out;
    -moz-transition: all .16s ease-in-out;
    -ms-transition: all .16s ease-in-out;
    -o-transition: all .16s ease-in-out;
    transition: all .16s ease-in-out;
    /*transition-property: background-color, color;*/
}

.btn-dark {
    color: var(--white);
    background-color: rgba(0,0,0,0.4);
}

    .btn-dark:hover,
    .btn-dark:focus,
    .btn-dark:active {
        color: var(--white);
        background-color: rgba(0,0,0,0.7);
    }

.btn-light {
    color: var(--dark);
    background-color: rgb(255,255,255);
}

    .btn-light:hover,
    .btn-light:focus,
    .btn-light:active {
        color: var(--dark);
        background-color: rgba(255,255,255,0.8);
    }

#toTop {
    opacity: 0;
    pointer-events: none;
    cursor: default;
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    height: 1.25rem;
    width: 1.25rem;
    padding: .625rem;
}
