:root {
    --primary: #24677ae7;
    --dark-primary: #182f38ca;
    --light: #d8e5f3;
    --dark: #1f2c2f;
    --hyperlink: #63a7cf;
    --hyperlink-active: #74c4e8;
    --navigation-drawer-overflow: 1rem;
    --navigation-drawer-width: 12rem;
    --navigation-drawer-small-width: calc(100vw - 4rem);
    --border-radius: .25rem;
    --btn-border-radius: var(--border-radius);
}

/* Global Styles */

html,
body {
    min-width: 480px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-family: Arial,sans-serif;*/
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 700;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.bg-dark-primary {
    background-color: var(--dark-primary);
    color: var(--light);
}

.text-dark-primary {
    color: var(--dark-primary);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--light);
}

.text-primary {
    color: var(--primary);
}

a {
    color: var(--hyperlink);
    text-decoration: none;
    -webkit-transition: all .16s ease-in-out;
    -moz-transition: all .16s ease-in-out;
    -ms-transition: all .16s ease-in-out;
    -o-transition: all .16s ease-in-out;
    transition: all .16s ease-in-out;
}

    a:hover,
    a:active,
    a:focus {
        color: var(--hyperlink-active);
    }

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: calc(-1 * var(--navigation-drawer-overflow));
    height: 100vh;
    width: calc(var(--navigation-drawer-width) + var(--navigation-drawer-overflow));
    border-color: unset;
    border: none;
    background-color: var(--dark);
    color: var(--light);
    z-index: 1000;
    -webkit-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    -moz-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    -ms-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    -o-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
    transition: all .35s cubic-bezier(.49,.07,.3,1.37);
}

    .navbar.collapsed {
        left: calc(-1 * var(--navigation-drawer-width));
    }

        .navbar.collapsed .navbar-nav li a {
            pointer-events: none;
        }

    .navbar .navbar-nav {
        margin-top: 5rem;
        padding: .5rem 0;
        list-style: none;
        line-height: 5;
    }

        .navbar .navbar-nav li a {
            display: block;
            width: auto;
            padding: 0 2rem;
            background-color: inherit;
            color: inherit;
            -webkit-transition: all .16s ease-in-out;
            -moz-transition: all .16s ease-in-out;
            -ms-transition: all .16s ease-in-out;
            -o-transition: all .16s ease-in-out;
            transition: all .16s ease-in-out;
        }

            .navbar .navbar-nav li a:is(:hover, .active) {
                background-color: var(--primary);
                color: var(--light) !important;
            }

    .navbar .navbar-toggler {
        background-color: var(--dark);
        position: absolute;
        right: -2.5rem !important;
        top: 2.5rem;
        /*height: 2.5rem;*/
        display: inline-block !important;
        z-index: 1154;
        padding: 0.5625rem !important;
        border-radius: 0 var(--btn-border-radius) var(--btn-border-radius) 0;
    }

        .navbar .navbar-toggler:before {
            content: "";
            background-image: radial-gradient(circle farthest-side at top right, transparent 100%, var(--dark) 100%);
            position: absolute;
            left: 0;
            top: calc(-1 * var(--btn-border-radius));
            height: var(--btn-border-radius);
            width: var(--btn-border-radius);
            display: block;
            z-index: 1154;
            /*border-radius: var(--btn-border-radius);*/
        }

        .navbar .navbar-toggler:after {
            content: "";
            background-image: radial-gradient(circle farthest-side at bottom right, transparent 100%, var(--dark) 100%);
            position: absolute;
            left: 0;
            bottom: calc(-1 * var(--btn-border-radius));
            height: var(--btn-border-radius);
            width: var(--btn-border-radius);
            display: block;
            z-index: 1154;
            /*border-radius: var(--btn-border-radius);*/
        }

        .navbar .navbar-toggler .hamburger {
            height: 1.375rem;
            transform: rotate(180deg);
            -webkit-transition: all .28s ease-in-out;
            -moz-transition: all .28s ease-in-out;
            -ms-transition: all .28s ease-in-out;
            -o-transition: all .28s ease-in-out;
            transition: all .28s ease-in-out;
        }

            .navbar .navbar-toggler .hamburger .icon-bar {
                width: 1.375rem;
                height: 1px;
                border-radius: 1px;
                display: block;
                -webkit-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                -moz-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                -ms-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                -o-transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                transition: all .35s cubic-bezier(.49,.07,.3,1.37);
                background-color: var(--light) !important;
            }

                .navbar .navbar-toggler .hamburger .icon-bar.top-bar {
                    transform: translateX(.1875rem) translateY(.25rem) rotate(45deg);
                    transform-origin: 10% 10%;
                }

                .navbar .navbar-toggler .hamburger .icon-bar.middle-bar {
                    transform: translateX(0) translateY(.625rem) rotate(0);
                    opacity: 0;
                }

                .navbar .navbar-toggler .hamburger .icon-bar.bottom-bar {
                    transform: translateX(.1875rem) translateY(.875rem) rotate(-45deg);
                    transform-origin: 10% 90%;
                }

    .navbar.collapsed .navbar-toggler .hamburger {
        transform: rotate(0deg);
    }

        .navbar.collapsed .navbar-toggler .hamburger .icon-bar.top-bar {
            transform: translateX(0) translateY(.375rem) rotate(0);
        }

        .navbar.collapsed .navbar-toggler .hamburger .icon-bar.middle-bar {
            transform: translateX(0) translateY(.625rem) rotate(0);
            opacity: 1;
        }

        .navbar.collapsed .navbar-toggler .hamburger .icon-bar.bottom-bar {
            transform: translateX(0) translateY(.875rem) rotate(0);
        }

@media (max-width: 768px) {
    .navbar {
        width: calc(var(--navigation-drawer-small-width) + var(--navigation-drawer-overflow));
        -webkit-transition: all .35s cubic-bezier(.49,.07,.27,1.2);
        -moz-transition: all .35s cubic-bezier(.49,.07,.27,1.2);
        -ms-transition: all .35s cubic-bezier(.49,.07,.27,1.2);
        -o-transition: all .35s cubic-bezier(.49,.07,.27,1.2);
        transition: all .35s cubic-bezier(.49,.07,.27,1.2);
    }

        .navbar.collapsed {
            left: calc(-1 * var(--navigation-drawer-small-width));
        }

        .navbar .navbar-nav {
            line-height: 2.5;
        }
}

/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgba(255,255,255,0.2) 50%, var(--dark-primary) 100%), url(../img/bg.jpg) no-repeat center 0 scroll;
    background: -moz-linear-gradient(rgba(255,255,255,0.2) 50%, var(--dark-primary) 100%), url(../img/bg.jpg) no-repeat center 0 scroll;
    background: -o-linear-gradient(rgba(255,255,255,0.2) 50%, var(--dark-primary) 100%), url(../img/bg.jpg) no-repeat center 0 scroll;
    background: linear-gradient(rgba(255,255,255,0.2) 50%, var(--dark-primary) 100%), url(../img/bg.jpg) no-repeat center 0 scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Sections */

.portfolio-item {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.img-portfolio {
    margin: 0 auto;
}

    .img-portfolio:hover {
        opacity: 0.8;
    }

.resume-item {
    margin: 2.5rem 0;
}

/* Footer */

footer {
    padding: 5rem;
    text-align: center;
}

/* Sections */

.section {
    padding: 5rem;
    text-align: center;
}

.section-100-vh {
    min-height: calc(100vh - 2 * 5rem);
}

@media (max-width: 768px) {
    .section {
        padding: 2.5rem;
    }

    .section-100-vh {
        min-height: calc(100vh - 2 * 2.5rem);
    }
}

/* Parallax */

.parallax {
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Buttons */

.btn {
    font-weight: 700;
    display: inline-flex;
    position: relative;
    padding: .5rem .75rem;
    text-decoration: none;
    border: none;
    border-radius: var(--btn-border-radius);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;
    -webkit-transition: all .16s ease-in-out;
    -moz-transition: all .16s ease-in-out;
    -ms-transition: all .16s ease-in-out;
    -o-transition: all .16s ease-in-out;
    transition: all .16s ease-in-out;
    /*transition-property: background-color, color;*/
}

    .btn:hover,
    .btn:focus,
    .btn:active {
        /*box-shadow: 0 .25rem 1rem .0625rem #000c;*/
    }

.btn-dark {
    color: var(--light);
    background-color: var(--dark);
}

    .btn-dark:hover,
    .btn-dark:focus,
    .btn-dark:active {
        color: var(--light);
        background-color: var(--dark);
    }

.btn-light {
    color: var(--dark);
    background-color: var(--light);
}

    .btn-light:hover,
    .btn-light:focus,
    .btn-light:active {
        color: var(--dark);
        background-color: var(--light);
    }

#toTop {
    position: fixed;
    pointer-events: none;
    cursor: default;
    bottom: -2.5rem;
    right: .5rem;
    padding: .625rem .5rem;
    -webkit-transition: bottom .16s ease-in-out;
    -moz-transition: bottom .16s ease-in-out;
    -ms-transition: bottom .16s ease-in-out;
    -o-transition: bottom .16s ease-in-out;
    transition: bottom .16s ease-in-out;
}

::-webkit-scrollbar {
    width: .25rem;
}

::-webkit-scrollbar-track {
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: var(--border-radius);
    /*-webkit-transition: all .16s ease-in-out;
    -moz-transition: all .16s ease-in-out;
    -ms-transition: all .16s ease-in-out;
    -o-transition: all .16s ease-in-out;
    transition: all .16s ease-in-out;*/
}

/*::-webkit-scrollbar-thumb:hover {
        background: var(--light);
    }*/
